// 위탁의료기관 검색 페이지 form 태그 스타일
// select 태그
select {
    @apply px-4 py-4 items-center;
    @apply bg-yellow-1 rounded-2xl border-2 border-gray-6;
    @apply text-sm font-rg;

    // v 모양 스타일
    @apply appearance-none; // 기본 화살표 제거
    background-image: url('../../../public/img/icons/i-chevron-down-s28-active.svg');
    background-position: right 1rem center;
    @apply bg-no-repeat bg-[length:1.75rem_1.75rem];
}

// disabled 상태일 때
select:disabled {
    background-image: url('../../../public/img/icons/i-chevron-down-s28-active.svg'); // v 모양 스타일
    // @apply bg-gray-3 border-gray-5 text-gray-6; /* 비활성화 시 배경색, 테두리, 글씨색 변경 */
}

// input 태그 주소검색
input {
    @apply px-4 py-4 items-center;
    @apply bg-yellow-1 rounded-2xl border-2 border-gray-6;
    @apply text-sm font-rg;
}

// focus 될 때
select:focus,
input:focus {
    @apply border-purple-7;
    @apply shadow-[0px_0px_0px_5px_rgba(176,165,232,0.4)];
}
