.growthDiaryArea {
  @apply sm:min-h-0 grow w-full flex flex-col gap-4;
}

.growthDiaryArea {
  figure.noBabyList,
  .graphBtnArea {
    @apply grow flex flex-col justify-center gap-2
    sm:p-4 sm:bg-blue-1 sm:rounded-2xl;
    @apply min-h-0 sm:flex-row sm:gap-4;

    .chartImgWrapper {
      @apply w-full grow flex bg-white border-2 border-blue-3 rounded-2xl
      sm:min-h-0;

      img {
        @apply min-h-60 sm:w-full sm:h-full object-fill;
      }
    }
  }

  .graphArea {
    @apply bg-green-1 rounded-2xl;
  }

  figure.GrowData {
    @apply flex flex-col gap-4;
  }

  .buttonArea {
    @apply flex justify-between items-center gap-2
    sm:w-[30%] sm:flex-col sm:justify-between sm:items-end sm:gap-2;

    .text {
      @apply grow text-xs text-gray-8 font-md;

      span {
        @apply text-green-8;
      }
    }

    a {
      @apply flex gap-0.5 justify-center items-center;
      @apply px-3 py-2.5 rounded-[10px] bg-green-4;

      p {
        @apply text-gray-10 text-2xs font-bd;
      }

      & > img {
        @apply w-3.5 h-3.5;
      }
    }
  }
}
