.modalBg {
    @apply absolute inset-0 flex justify-center items-center;
    @apply backdrop-blur-sm z-30;

    .whiteboxModal {
        @apply bg-white w-full min-w-80 h-full px-6 pt-6;
        @apply flex flex-col gap-6 justify-start;

        @apply sm:absolute sm:top-0 sm:gap-12;
        @apply sm:border-2 sm:border-gray-6 sm:rounded-3xl sm:p-20;
        // 반응형 width height 재설정 필요 // whitebox 클래스랑 같게
        @apply xs:w-[1280px] max-xs:w-[100vw] max-sm:w-[100vw] max-md:w-full max-lg:w-[90vw];

        // 모달의 타이틀과 x 버튼 스타일
        & > .topArea {
            @apply flex justify-between min-w-[17rem];

            // 타이틀
            & > div.title {
                @apply flex gap-4 items-end w-full;

                & > h2 {
                    @apply w-full max-w-[calc(100%)];
                    @apply whitespace-nowrap overflow-hidden text-ellipsis;
                    @apply sm:w-auto;
                }

                & > p {
                    @apply hidden text-gray-5;
                    @apply sm:block;
                }
            }

            // x 버튼
            & > div.close {
                @apply cursor-pointer;

                img {
                    @apply min-w-8 min-h-8 ml-1;
                    // @apply sm:w-12 sm:h-12;;
                }
            }
        }
    }

    .mediumModal {
        @apply bg-white w-full min-w-80 h-full px-14 py-12;
        @apply flex flex-col gap-6;
        @apply sm:w-[32.5rem] sm:h-auto;
        @apply sm:border-2 sm:border-gray-6 sm:rounded-[2.5rem];
        @apply max-sm:px-6 max-sm:py-0 max-sm:gap-14;
    }

    .smallModal {
        @apply bg-white p-10 w-full min-w-80 h-full;
        @apply max-lg:w-[27.5rem] max-lg:h-auto;
        @apply w-[27.5rem] h-auto;
        @apply max-sm:mx-[10%];
        @apply border-2 border-gray-6 rounded-[2rem];
    }
}
