.whitebox {
    @apply w-full h-auto flex flex-col gap-6 rounded-[40px];
    @apply xs:bg-white xs:p-[3rem_3.5rem] xs:w-[1280px];
    @apply sm:border-2 sm:border-gray-6;
    @apply max-xs:w-[100vw] max-sm:w-[100vw];
    @apply max-md:w-full;
    @apply max-lg:w-[90vw];
    @apply max-xs:pt-[1.5rem];
    @apply max-sm:pt-[1.5rem] max-sm:pr-[0rem] max-sm:pl-[0rem];

    //   @apply max-sm:border-0;;

    & div.title {
        @apply flex gap-4 items-end max-w-full;

        & > h2 {
            @apply flex-shrink-0;
        }

        & > p {
            @apply hidden text-gray-5;
            @apply whitespace-nowrap overflow-hidden text-ellipsis; // 공간 없으면 ...

            &.vaccination {
                @apply md:block;
            }
            &.growthDiary {
                @apply sm:block;
            }
        }
    }
}
