// 홈페이지 배너 스타일
@mixin banner-style($order) {
  $img-url: "../../assets/visual_home_banner_#{$order}.png";
  background: url(#{$img-url}) no-repeat, theme("colors.blue.1");
  background-position: calc(100% - 24px) 12px;
  background-size: 88px;
}

// whitebox 스타일
@mixin whitebox-style {
  // px-4 xs:px-6 // py-6 // h-[44rem] // 제목내용 gap-6 // 내용안 gap-4

  @apply flex flex-col gap-6
    w-full h-full px-4 py-6 bg-white;
  @apply xs:px-6;
  @apply sm:rounded-[2.5rem] sm:border-2 sm:border-gray-6
    sm:max-w-[80rem] sm:min-w-[45rem] sm:h-[44rem] sm:px-10 sm:py-10 sm:mx-6;
  @apply md:px-12 md:py-12;
  @apply lg:px-14 lg:py-12;
}
