// 홈페이지 배너 스타일
@mixin banner-style($order) {
    $img-url: '../../assets/visual_home_banner_#{$order}.png';
    background:
        url(#{$img-url}) no-repeat,
        theme('colors.blue.1');
    background-position: calc(100% - 24px) 12px;
    background-size: 88px;

    // 390px 이상일 때
    @media (min-width: 390px) {
        background-position: calc(100% - 24px) 16px;
        background-size: 112px;
    }
}
