@import "./commons/Colors.module.scss";

.contentsArea {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;

  .userArea {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 96px;
    background: url(../../public/img/visuals/visual_home_ggomul_02_.svg)
      no-repeat top 16px right 0px;

    .userGreeting {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .pageGuide {
        color: $color-gray-7;
      }
    }

    .mainContents {
      flex-grow: 1;
      padding: 32px;
      display: flex;
      flex-direction: column;
      background-color: $color-white;
      border: 2px solid $color-gray-6;
      border-radius: 32px;

      .graphArea {
        flex-grow: 1;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;

        &.empty {
          background-color: $color-gray-1;
        }
      }

      .bannerArea {
        display: flex;
        gap: 24px;

        .bannerItem {
          flex-grow: 1;
          height: 114px;
          overflow: hidden;
          background-color: $color-white;
          border: 2px solid $color-gray-6;
          border-radius: 24px;
        }
      }
    }

    //                 .chart_container {
    //
    //             }

    //             .vaccination_section {
    //                 margin-top: 32px;
    //                 display: grid;
    //                 grid-template-columns: 1fr 1fr;
    //                 gap: 32px;
    //                 justify-content: space-between;

    //                 .info_card {
    //                     background: #F4FAFC;
    //                     border-radius: 16px;
    //                     padding: 20px;
    //                     border: 1px solid #BBDEEB;
    //                     width: 368px;
    //                     height: 114px;

    //                     &:hover {
    //                         transform: translateY(-2px);
    //                     }

    //                     p {
    //                         margin: 12px;
    //                         &:first-child {
    //                             font-size: 18px;
    //                             font-weight: 700;
    //                             color: #5D5D67;
    //                             margin-bottom: 16px;
    //                         }

    //                         &:last-child {
    //                             color: #6B7280;
    //                         }
    //                     }

    //                     a {
    //                         text-decoration: none;
    //                         color: inherit;
    //                     }

    //                     .vaccine_list {
    //                         display: flex;
    //                         gap: 8px;
    //                         align-items: center;
    //                         flex-direction: row;
    //                         margin-top: 8px;
    //                         overflow-x: auto;

    //                         &::-webkit-scrollbar {
    //                             display: none;
    //                         }
    //                     }

    //                     .vaccine_item {
    //                         width: 115px;
    //                         height: 34px;
    //                         padding: 4px 12px;
    //                         background: #FFE4E6;
    //                         border-radius: 8px;
    //                         font-size: 16px;
    //                         font-weight: 700;
    //                         color: #FC5760;
    //                         font-weight: 500;
    //                         white-space: nowrap;
    //                     }

    //                     // .completed_message {
    //                     //     color: #6B7280;
    //                     //     font-size: 14px;
    //                     // }

    //                     .vaccine_tags {
    //                         display: flex;
    //                         flex-wrap: wrap;
    //                         gap: 6px;
    //                         margin-top: 8px;
    //                         max-height: 70px; // 태그가 너무 길어지지 않도록 제한
    //                         overflow-y: auto;

    //                         .tag {
    //                             padding: 2px 8px;
    //                             background: #FFE4E6;
    //                             border-radius: 12px;
    //                             font-size: 11px;
    //                             color: #E11D48;
    //                             font-weight: 500;
    //                             white-space: nowrap;
    //                         }

    //                         // 스크롤바 스타일링
    //                         &::-webkit-scrollbar {
    //                             width: 4px;
    //                         }

    //                         &::-webkit-scrollbar-track {
    //                             background: #f1f1f1;
    //                         }

    //                         &::-webkit-scrollbar-thumb {
    //                             background: #FFE4E6;
    //                             border-radius: 4px;
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }
  }
}
