@import "./commons/Colors.module.scss";

.contentsArea {
  width: 100%;
  height: -webkit-fill-available;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;

  .userArea {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(../../public/img/visuals/visual_home_ggomul_02_.svg)
      no-repeat top -32px right 0px;

    .userGreeting {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .pageGuide {
        color: $color-gray-7;
      }
    }

    .mainContents {
      max-height: 610px;
      padding: 32px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      background-color: $color-white;
      border: 2px solid $color-gray-6;
      border-radius: 32px;

      .chartContentsArea {
        flex-grow: 1;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 16px;
        margin-top: 24px;

        &.empty {
          background-color: $color-gray-1;

          .dataGraphArea {
            width: 100%;
          }
        }
      }

      .banner_wrap {
        display: flex;
        gap: 24px;

        .banner_container {
          flex-grow: 1;
          height: 114px;
          padding: 24px;
          display: flex;
          flex-direction: column;
          align-items: self-start;
          justify-content: start;
          gap: 4px;
          border: 2px solid $color-blue-4;
          border-radius: 24px;

          .banner_title {
            color: $color-gray-8;
          }

          .banner_link {
            color: $color-gray-6;
          }
        }

        .banner_vac {
          background: $color-blue-1 url(../../public/img/Visual.png)
            no-repeat top 6px right 16px;
          }
          
        .banner_search {
          background: $color-blue-1 url(../../public/img/Visual2.png)
            no-repeat top 6px right 16px;
        }
      }
    }
  }
}

.no_diary_chart {
  display: flex;
  padding: 24px 32px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 24px;
  background-color: $color-blue-1;
}

.no_diary_chart_img {
  width: 100%;
}

.bottom_text {
  color: $color-gray-8;
  font-size: 18px;
  font-weight: 500;
}
.highlight {
  color: $color-blue-8;
}
.no_diary_chart_bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.bottom_button {
  display: flex;
  height: 44px;
  padding: 10px 14px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 12px;
  background-color: $color-blue-4;
  color: var(--Gray-10, #3b3b41);
  font-size: 16px;
  font-weight: 700;
}
