@import "./commons/Colors.module.scss";

.wrap {
  display: flex;
  justify-content: center;
}
.image_box {
  width: 200px;
  height: 200px;
  background-color: lightcyan;
  position: relative;
  top: 180px;
  right: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.invisible {
  width: 200px;
  height: 200px;
}
.background {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
.user_info_wrap {
  width: 1120px;
  height: 212px;
  background-color: #fef9f1;
  border-radius: 32px;
  // margin-top: 48px;
  padding: 48px 56px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info_detail_wrap {
  display: flex;
  justify-content: space-between;
}
.info_label {
  font-size: 18px;
  // font-weight: bold;
}

.edit_btn {
  width: 181px;
  height: 56px;
  border: none;
  background-color: #f6d9a7;
  font-size: 20px;
  font-weight: bold;
  border-radius: 16px;
}
.detail_wrap {
  width: 394px;
  display: flex;
  justify-content: space-between;
  margin-right: 81px;
}
.detail_set {
  height: 56px;
  display: flex;
  flex-direction: column;
  //   width: 320px;
  //   width: 100%;
  gap: 8px;
}
.title {
  font-size: 30px;
  font-weight: 700;
}
.user_list {
  margin-top: 40px;
  background-color: rgb(241, 237, 237);
  width: 600px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.user_wrap {
  display: flex;
  justify-content: space-around;
  width: 400px;
}
.enroll {
  border: none;
}
.small_title {
  width: 600px;
  font-size: 23px;
  font-weight: 700;
  margin-top: 10px;
}
.info_box {
  margin-top: 40px;
  width: 600px;
  background-color: rgb(208, 206, 206);
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 40px;
  margin-bottom: 10px;
}
.info_title {
  margin-bottom: 20px;
}
.info_content {
  display: flex;
  margin-bottom: 30px;
}
.info_a {
  width: 120px;
}
.info_b {
}
// .edit_btn {
//   background-color: rgb(208, 206, 206);
//   margin-top: 20px;
//   width: 60px;
//   border: none;
// }
.babyInfo_background {
  width: 100%;
  background-color: #fef9f1;
  border-radius: 32px;
  margin-bottom: 48px;
  padding: 48px 56px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.babyInfo_contents_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 24px;
}
// .babyList_wrap {
//   width: 166px;
//   height: 280px;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }
.babyInfo_wrap {
  padding: 40px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  border: 3px solid #d1e9f1;
  border-radius: 32px;
  background-color: #ffffff;
}
.babyInfo_detail_wrap {
  width: 672px;
  display: flex;
  // flex-direction: column;
}
.babyInfo_btn_wrap {
  width: 197px;
  //   width: 300px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 15px;
}

.baby_add_btn {
  width: 166px;
  height: 64px;
  border-radius: 16px;
  background-color: #bbdeeb;
  font-size: 22px;
  font-weight: bold;
}
.baby_img {
  border: 4px solid #f3f3f4;
  border-radius: 32px;
  width: 200px;
  height: 200px;
}
.img {
  margin-left: 8px;
}
.contentsArea {
  gap: 32px;
  .button_wrap {
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }

  .contentsWrap {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.addButton {
  width: auto;
}