@import "./commons/Colors.module.scss";

.contentsArea {
  max-width: 640px;
  justify-content: space-between;
  gap: 56px;

  .login_img {
    width: 100%;
  }

  .buttonArea {
    flex-direction: column;
    gap: 8px;
  }

  .link_container {
    display: flex;
    justify-content: center;
    gap: 8px;
    color: $color-gray-8;

    .link {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
@media (max-width: 390px) {
}
