.container {
  display: flex;
  justify-content: center;
}

.login_background {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 640px;
  height: 100%;
  border: 2px solid #838391;
  padding: 72px 64px 64px 64px;
  border-radius: 40px;
  background-color: #ffffff;
}
.title {
  width: 432px;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}
.login_img {
  width: 432px;
  margin-bottom: 32px;
}
.btn {
  width: 432px;
  height: 80px;
  text-align: center;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  gap: 8px;
}
.email_btn {
  margin-bottom: 16px;
  color: white;
  background-color: #3b3b41;
}
.kakao_btn {
  background-color: #fee500;
  margin-bottom: 32px;
}
.link_container {
  display: flex;
  gap: 8px;
  color: #5d5d67;
  font-size: 18px;
}
.link {
  text-decoration: underline;
  cursor: pointer;
}
