@import "./commons/Colors.module.scss";

.contentsArea {
  max-width: 640px;
  gap: 56px;

  .contentsWrap {
    .formsWrapper {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-bottom: 34px;

      .formWrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
        margin: 5px;

        .mailWrap {
          display: flex;
          align-items: end;
          gap: 16px;
        }
      }
    }

    .error {
      color: $color-red-6;
      position: absolute;
      bottom: -20px;
      left: 0;
    }
  }
  .buttonArea {
    gap: 16px;

    a {
      display: block;
      width: 100%;
    }
  }
}
