/* Typography */

.text3xsRg {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
}
.text3xsMd {
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
}
.text3xsBd {
  font-size: 10px;
  font-weight: 700;
  line-height: 14px;
}
.text2xsRg {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.text2xsMd {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}
.text2xsBd {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}
.textXsRg {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.textXsMd {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
.textXsBd {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}
.textBsRg {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.textBsMd {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.textBsBd {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
.textSmRg {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
.textSmMd {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}
.textSmBd {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}
.textMdRg {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.textMdMd {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.textMdBd {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.textLgRg {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
}
.textLgMd {
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
}
.textLgBd {
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
}
.textxLgRg {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}
.textXlMd {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}
.textXlBd {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
.text2xlRg {
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
}
.text2xlMd {
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
}
.text2xlBd {
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
}
.text3xlRg {
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
}
.text3xlMd {
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
}
.text3xlBd {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}
.text4xlRg {
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
}
.text4xlMd {
  font-size: 40px;
  font-weight: 500;
  line-height: 46px;
}
.text4xlBd {
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
}
.capitalize {
  text-transform: capitalize;
}