.background {
  width: 1280px;
  height: 900px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  padding: 80px;
  // align-items: center;
  border-radius: 40px;
  background-color: #ffffff;
  border: 2px solid #838391;
  margin: auto;
}

.select {
  width: 313px;
  height: 64px;
  background-color: #fef9f1;
  border-radius: 8px;
  border: 1px solid #838391;
  font-size: 22px;
  padding-left: 24px;
}
.search_wrap {
  width: 1120px;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.select_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.search_btn {
  width: 133px;
  height: 64px;
  border: none;
  border-radius: 16px;
  background-color: #bbdeeb;
  color: #3b3b41;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.contents_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  border-top: 2px solid #e1e1e5;
  padding-top: 32px;
}
