.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 70px;
  align-items: center;
  width: 1920px;

  .title {
    font-size: 30px;
    font-weight: 700;
  }

  .text {
    margin-top: 5px;
    font-size: 15px;
  }

  .button_wrap {
    width: 1638px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 102px 0px 30px 0px;

    .small_btn {
      font-size: 18px;
      width: 238px;
      height: 56px;
      margin-left: 10px;
      border-radius: 20px;
    }

    .detail {
      border: 1px solid #7dadbe;
      color: #425b64;
    }

    .centers {
      border: 1px solid #619486;
      color: #4e776c;
    }
  }

  .vac_list {
    background-color: rgb(214, 213, 213);
    margin-top: 10px;
    width: 1100px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
  }
}

.enter_btn {
  background-color: rgb(214, 213, 213);
  width: 40px;
  border: none;
}
.search_wrap {
  margin-top: 30px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search_date {
  width: 340px;
  height: 30px;
}
.search_btn {
  border: none;
  height: 30px;
  width: 50px;
}
