@import "../styles/commons/Colors.module.scss";

// 질병 칩버튼 영역
.chipBtnWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  // 칩버튼 기본 상태
  .chipBtn {
    padding: 10px 16px;
    color: $color-blue-7;
    background-color: $color-blue-2;
    border-radius: 999px;
  }
  
  // 칩버튼 선택된 상태
  .chipBtnAcitve {
    padding: 10px 16px;
    color: $color-blue-10;
    background-color: $color-blue-3;
    border: 3px solid $color-blue-7;
    border-radius: 999px;
  }
}

// 질병 상세 노출 영역
.diseaseInfoArea {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .diseaseInfo_wrap {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .title_wrap {
    padding-bottom: 24px;
    border-bottom: 2px solid $color-gray-2;
  }
  
  //  // ▶ 나오기 전 스타일
  //   .beforeIndicator {
  //     font-size: 20px;
  //     font-weight: bold;
  //   }
  
  //   // ▶ 포함한 줄의 스타일
  //   .highlight {
  //     font-size: 20px;
  //     // font-weight: bold;
  //     // background-color: aqua;
  //     color: blue;
  //     // margin-bottom: 50px;
  //   }
}

.diseaseDetailContentsWrap {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  
  .diseaseDetailContents {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

.background {
  .title {
    font-size: 30px;
    font-weight: 700;
  }

  .select {
    padding-left: 10px;
    margin-top: 10px;
    width: 650px;
    height: 30px;
  }

  .component_wrap {
    margin-top: 30px;
    height: 500px;
    display: flex;
    flex-direction: column;
  }
}

.user_list {
  margin-top: 5px;
  background-color: rgb(241, 237, 237);
  width: 600px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.detail {
  padding-left: 30px;
  width: 500px;
  height: 100px;
  background-color: rgb(241, 237, 237);
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


