.container {
  width: 1116px;
  border: 2px solid #bbdeeb;
  display: flex;
  flex-direction: row;
  padding: 40px 56px;
  border-radius: 20px;
  justify-content: space-between;
  margin-bottom: 28px;
  box-sizing: border-box;
}

.content_wrap {
  // width: 673px;
  height: 220;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contents_set {
  width: 1008px;
  display: flex;
  flex-direction: row;
  margin-bottom: 42px;
  gap: 6px;
  align-items: center;
}
.contents_title {
  width: 150px;
  font-size: 22px;
  color: #5d5d67;
}
.contents {
  font-size: 22px;
  // color: #6f6f7b;
}
.center_name {
  color: #3b3b41;
  font-size: 28px;
  font-weight: bold;
}
.center_number {
  color: #7dadbe;
  text-decoration: underline;
}
.btn_wrap {
  width: 900px;
  display: flex;
  justify-content: flex-end;
}
.list_btn {
  width: 104px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: none;
  color: #3b3b41;
  background-color: #f6d9a7;
  font-size: 16px;
  font-weight: bold;
  position: relative;
}
.vaccine_list {
  // background-color: blue;
  position: relative;
  // right: 370px;
  // top: 600px;
  // border: 1px solid black;
  // width: 320px;
}
.vaccine_list_ul {
  position: absolute;
  background-color: white;
  top: -180px;
  right: -110px;
  width: 320px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 12px;
  padding: 16px 24px;
  border: 2px solid #b1b1ba;
  z-index: 10;
}
