@import "./commons/Colors.module.scss";

//Vaccination.tsx
.contentsArea {
  .button_wrap {
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }

  .contentsWrap {
    flex-grow: 1;
    width: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

// VaccinationTable.tsx
.vacTableWrap {
  width: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  border-bottom: 2px solid $color-blue-4;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;

  .vacTable {
    flex-grow: 1;
    width: 100%;
    display: flex;

    .vacTableScheduleArea {
      flex-grow: 1;
    }
  }
}

// Table default style
.cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.th {
  padding-top: 14px;
  padding-bottom: 14px;
  position: sticky;
  top: 0;
  background-color: $color-blue-3;
  border-right: 2px solid $color-blue-6;
  z-index: 100px;
}

.td {
  padding: 8px;
  text-align: center;
  border-bottom: 2px solid $color-blue-4;
  border-right: 2px solid $color-blue-4;
}

// Disease.tsx
.diseaseWrap {
  z-index: 2;
  position: sticky;
  left: 0;
}
// VaccineType.tsx
.VaccineTypeWrap {
  z-index: 2;
  position: sticky;
  left: 142px;
}
// TotalDoses.tsx
.TotalDosesWrap {
  z-index: 2;
  position: sticky;
  left: 334px;
}
// DoseDate.tsx
.thDiseases {
  width: 142px;
}

.ulDiseases,
.ulVaccineType {
  background-color: $color-blue-1;
}

ul {
  li {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    white-space: pre-line; // \n을 인식하여 줄바꿈 적용
    text-align: center;
    border-bottom: 2px solid $color-gray-2;
    border-right: 2px solid $color-gray-2;
  }
}

.thVaccineType,
.ulVaccineType {
  width: 192px;
}

.liVaccineType {
  padding-right: 8px;
  display: flex;
  justify-items: start;
  gap: 8px;

  .vaccineName {
    flex-grow: 1;
    text-align: left;
  }
}

.thTotalDoses {
  width: 40px;
}

.liTotalDoses {
  height: 50px;
  background-color: #ffffff;
}

.thDoseDateWrap {
  position: sticky;
  top: 0;
  display: flex;
  background-color: $color-blue-3;
  z-index: 0;

  .thDoseDate {
    width: 80px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: $color-blue-3;
    border-right: 1px solid $color-blue-6;
  }
}

// VaccinationSchedule.tsx
.vacScheduleWrap {
  display: grid;
  grid-template-columns: repeat(
    15,
    80px
  ); // 15개의 동일한 너비의 컬럼 생성 // 1fr 말고 px ,% 등 사용 가능
  background-color: $color-gray-bg;

  // 예방접종 표 내부 색
  .cell {
    padding: 8px 4px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid $color-gray-2;
    border-bottom: 2px solid $color-gray-2;

    .dataWrap {
      display: flex;
      gap: 4px;

      .checkIconHidden {
        display: none;
      }
      .checkIconShow {
        display: block;
      }
    }
  }

  // 예방접종 완료
  .completed {
    color: $color-gray-4;
    background-color: $color-gray-0;

    .date {
      color: $color-gray-4;
    }
  }

  // 예방접종 미완료
  .notCompleted {
    color: $color-red-5;
    background-color: $color-red-1;
  }

  // 필수가 아닌 것 // 완료 시 completed로 바뀜뀜
  .notMust {
    background-color: $color-purple-1;
  }
}

// 1~2회 접종인 것 중 1회만 접종 시 // 2회 접종 완료 시 compldted로
.onlyFirst {
  background-color: rgba(255, 182, 193, 0.457);
}

.enter_btn {
  background-color: rgb(214, 213, 213);
  width: 40px;
  border: none;
}
.search_wrap {
  margin-top: 30px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search_date {
  width: 340px;
  height: 30px;
}
.search_btn {
  border: none;
  height: 30px;
  width: 50px;
}
.complete_btn_wrap {
  font-size: 22px;
  font-weight: bold;
  height: 96px;
  width: 182px;
  justify-content: space-between;
  display: flex;
  align-items: flex-end;
  gap: 8px;
}
.date_del_btn {
  font-size: 22px;
  font-weight: bold;
  border-radius: 16px;
  width: 87px;
  height: 64px;
  border: none;
  background-color: #f6c7c6;
}
.date_edit_btn {
  font-size: 22px;
  font-weight: bold;
  border-radius: 16px;
  width: 87px;
  height: 64px;
  border: none;
  background-color: $color-blue-4;
}
.enter_btn_wrap {
  height: 96px;
  display: flex;
  align-items: flex-end;
}
.date_enter_btn {
  font-size: 22px;
  font-weight: bold;
  width: 182px;
  height: 64px;
  border: none;
  background-color: $color-blue-4;
  border-radius: 16px;
}
.date_cancel_btn {
  font-size: 22px;
  font-weight: bold;
  border-radius: 16px;
  width: 87px;
  height: 64px;
  border: none;
  background-color: $color-yellow-4;
}
.inputBtn_wrap {
  width: 512px;
  display: flex;
  justify-content: space-between;
}
.input_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.complete_input {
  background-color: $color-green-1;
  width: 314px;
  height: 64px;
  font-size: 22px;
  font-weight: 700;
  border-radius: 16px;
  color: $color-green-7;
  display: flex;
  align-items: center;
  padding-left: 24px;
}
.not_complete_input {
  background-color: $color-gray-1;
  width: 314px;
  height: 64px;
  font-size: 22px;
  font-weight: 700;
  border-radius: 16px;
  color: $color-gray-7;
  display: flex;
  align-items: center;
  padding-left: 24px;
}
.date_input {
  background-color: $color-yellow-1;
  border: 2px solid $color-gray-6;
  width: 314px;
  height: 64px;
  font-size: 22px;
  border-radius: 16px;
  color: $color-gray-10;
  display: flex;
  align-items: center;
  padding-left: 24px;
}

@media screen and (max-width: 390px) {
  .contentsArea {
  }
}
