@import "./Colors.module.scss";

button {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

////////// Colors variables //////////
// gray
$gray-default: $color-gray-10;
$gray-disabled: $color-gray-3;
$gray-hovered: $color-black;
$gray-pressed: $color-gray-8;

// yellow
$yellow-default: $color-yellow-4;
$yellow-disabled: $color-yellow-3;
$yellow-hovered: $color-yellow-6;
$yellow-pressed: $color-yellow-7;

// blue
$blue-default: $color-blue-4;
$blue-disabled: $color-blue-2;
$blue-hovered: $color-blue-6;
$blue-pressed: $color-blue-7;

// kakao yellow
$kakao-yellow-default: $color-kakao-yellow-6;
$kakao-yellow-disabled: $color-kakao-yellow-2;
$kakao-yellow-hovered: $color-kakao-yellow-4;
$kakao-yellow-pressed: $color-kakao-yellow-7;

////////// Size //////////
// 2xsmall
.btn2xsRd {
  padding: 6px 8px;
  gap: 4px;
  color: $color-red-6;
  background-color: $color-white;
  border: 1px solid $color-red-3;
  border-radius: 8px;
}

// Xsmall

// Small
// → yellow
.btnSmYw {
  height: 44px;
  padding-left: 14px;
  padding-right: 14px;
  gap: 4px;
  color: $color-gray-10;
  border-radius: 12px;
  background-color: $yellow-default;

  &:disabled {
    color: $gray-disabled;
    background-color: $yellow-disabled;
  }

  &:hover {
    background-color: $yellow-hovered;
  }

  &:active {
    background-color: $yellow-pressed;
  }
}

// → blue
.btnSmBl {
  height: 44px;
  padding-left: 14px;
  padding-right: 14px;
  gap: 4px;
  color: $color-gray-10;
  border-radius: 12px;
  background-color: $blue-default;

  &:disabled {
    color: $gray-disabled;
    background-color: $blue-disabled;
  }

  &:hover {
    background-color: $blue-hovered;
  }

  &:active {
    background-color: $blue-pressed;
  }
}

// Medium
// → yellow
.btnMdYw {
  width: 107;
  height: 56px;
  padding-left: 20px;
  padding-right: 12px;
  gap: 8px;
  color: $color-gray-10;
  border-radius: 16px;
  background-color: $yellow-default;

  &:disabled {
    color: $gray-disabled;
    background-color: $yellow-disabled;
  }

  &:hover {
    background-color: $yellow-hovered;
  }

  &:active {
    background-color: $yellow-pressed;
  }
}

// Large
// → gray
.btnLgGr {
  height: 64px;
  padding: 16px 24px;
  gap: 8px;
  color: $color-white;
  border-radius: 16px;
  background-color: $gray-default;

  &:disabled {
    color: $gray-disabled;
    background-color: $gray-disabled;
  }

  &:hover {
    background-color: $gray-hovered;
  }

  &:active {
    background-color: $gray-pressed;
  }
}

.btnLgYw {
  height: 64px;
  padding: 16px 24px;
  gap: 8px;
  color: $color-gray-10;
  border-radius: 16px;
  background-color: $yellow-default;

  &:disabled {
    color: $gray-disabled;
    background-color: $yellow-disabled;
  }

  &:hover {
    background-color: $yellow-hovered;
  }

  &:active {
    background-color: $yellow-pressed;
  }
}

// → yellow
.btnLgYw {
  height: 64px;
  padding: 16px 24px;
  gap: 8px;
  color: $color-gray-10;
  border-radius: 16px;
  background-color: $yellow-default;

  &:disabled {
    color: $gray-disabled;
    background-color: $yellow-disabled;
  }

  &:hover {
    background-color: $yellow-hovered;
  }

  &:active {
    background-color: $yellow-pressed;
  }
}

// → blue
.btnLgBl {
  height: 64px;
  padding: 16px 24px;
  gap: 8px;
  color: $color-gray-10;
  border-radius: 16px;
  background-color: $blue-default;

  &:disabled {
    color: $gray-disabled;
    background-color: $blue-disabled;
  }

  &:hover {
    background-color: $blue-hovered;
  }

  &:active {
    background-color: $blue-pressed;
  }
}

// → coral
.btnLgCo {
  height: 64px;
  padding: 16px 24px;
  gap: 8px;
  color: $color-gray-10;
  border-radius: 16px;
  background-color: $color-coral-4;
  width: 100%;

  &:disabled {
    // background-color: $coral-disabled;
  }

  &:hover {
    // background-color: $coral-hovered;
  }

  &:active {
    // background-color: $coral-pressed;
  }
}

// Xlarge
// Gray
.btnXlGr {
  width: 100%;
  height: 80px;
  gap: 8px;
  color: $color-white;
  border-radius: 20px;
  background-color: $gray-default;

  &:disabled {
    color: $gray-disabled;
    background-color: $gray-disabled;
  }

  &:hover {
    background-color: $gray-hovered;
  }

  &:active {
    background-color: $gray-pressed;
  }
}

// Yellow
.btnXlYw {
  width: 100%;
  height: 80px;
  gap: 8px;
  color: $color-gray-10;
  border-radius: 20px;
  background-color: $yellow-default;

  &:disabled {
    color: $gray-disabled;
    background-color: $yellow-disabled;
  }

  &:hover {
    background-color: $yellow-hovered;
  }

  &:active {
    background-color: $yellow-pressed;
  }
}

.btnXlKyw {
  width: 100%;
  height: 80px;
  gap: 8px;
  border-radius: 20px;
  background-color: $kakao-yellow-default;

  &:disabled {
    color: $gray-disabled;
    background-color: $kakao-yellow-disabled;
  }

  &:hover {
    background-color: $kakao-yellow-hovered;
  }

  &:active {
    background-color: $kakao-yellow-pressed;
  }
}

.btnMeCo {
  width: 75px;
  height: 56px;
  gap: 8px;
  color: $color-gray-10;
  border-radius: 16px;
  background-color: $color-coral-4;
  padding: 16px 20px;

  &:disabled {
    // background-color: $coral-disabled;
  }

  &:hover {
    // background-color: $coral-hovered;
  }

  &:active {
    // background-color: $coral-pressed;
  }
}

// 2Xlarge

.disabled_btnXl {
  width: 100%;
  height: 80px;
  gap: 8px;
  color: $color-white;
  border-radius: 20px;
  background-color: $gray-disabled;
}

@media screen and (max-width: 390px) {
  .btnMdYw {
    width: 100%;
  }
  .btnMeCo {
    width: 40%;
    height: 20px;
    border-radius: 10px;
  }
  .btnMdYw {
    width: 55%;
    height: 30px;
    border-radius: 10px;
  }
  .btnLgGr {
    width: 50%;
    padding: 0px;
  }
}
