@import "./Colors.module.scss";

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnSmYw {
  height: 44px;
  padding-left: 14px;
  padding-right: 14px;
  gap: 4px;
  border-radius: 12px;
  background-color: $color-yellow-4;
}

.btnLgBk {
  height: 64px;
  padding: 16px 24px;
  gap: 8px;
  color: $color-white;
  border-radius: 16px;
  background-color: $color-gray-10;
}

.btnXlBk {
  width: 100%;
  height: 80px;
  gap: 8px;
  color: $color-white;
  border-radius: 20px;
  background-color: $color-gray-10;
}

.btnXlKyw {
  width: 100%;
  height: 80px;
  gap: 8px;
  border-radius: 20px;
  background-color: $color-kakao-yellow;
}