@import "../commons/Colors.module.scss";

.segments {
  width: 100%;
  padding: 6px;
  display: flex;
  background-color: $color-blue-1;
  border: 2px solid $color-gray-6;
  border-radius: 999px;
  
  button, .segmentsItem {
    padding: 10px 16px;
    flex-grow: 1;
    color: $color-blue-7;
    border-radius: 999px;
  }
  
  .segmentsItem_selected {
    background-color: $color-blue-3;
    color: $color-blue-10;
    border: 2px solid $color-blue-7;
  }

}


