/* Colors */

$color-white: #ffffff;
$color-black: #000000;
$color-gray-bg: #fdfdfd;

$color-kakao-yellow-1: #fffce6;
$color-kakao-yellow-2: #fff7b0;
$color-kakao-yellow-3: #fff38a;
$color-kakao-yellow-4: #feee54;
$color-kakao-yellow-5: #feea33;
$color-kakao-yellow-6: #fee500;
$color-kakao-yellow-7: #e7d000;
$color-kakao-yellow-8: #b4a300;
$color-kakao-yellow-9: #8c7e00;
$color-kakao-yellow-0: #6b6000;

$color-coral-1: #fef6f6;
$color-coral-2: #fceae9;
$color-coral-3: #f9d9d8;
$color-coral-4: #f6c7c6;
$color-coral-5: #f4b6b4;
$color-coral-6: #f1a6a4;
$color-coral-8: #ab7674;
$color-coral-7: #cd8d8b;
$color-coral-9: #895f5d;
$color-coral-10: #6c4b4a;

$color-red-1: #ffeeef;
$color-red-2: #fed7d9;
$color-red-3: #feb7bb;
$color-red-4: #fd959b;
$color-red-5: #fd757d;
$color-red-6: #fc5760;
$color-red-7: #d64a52;
$color-red-8: #b33e44;
$color-red-9: #903237;
$color-red-10: #71272b;

$color-yellow-1: #fef9f1;
$color-yellow-2: #fcf0de;
$color-yellow-3: #f9e5c3;
$color-yellow-4: #f6d9a7;
$color-yellow-5: #f4cd8d;
$color-yellow-6: #f1c274;
$color-yellow-7: #cda563;
$color-yellow-8: #ab8a52;
$color-yellow-9: #896f42;
$color-yellow-10: #6c5734;

$color-orange-1: #fef6f1;
$color-orange-2: #fdeadc;
$color-orange-3: #fbd9c1;
$color-orange-4: #f9c7a4;
$color-orange-5: #f8b688;
$color-orange-6: #f6a66e;
$color-orange-7: #d18d5e;
$color-orange-8: #af764e;
$color-orange-9: #8c5f3f;
$color-orange-10: #6f4b31;

$color-green-1: #f3faf8;
$color-green-2: #e3f4ef;
$color-green-3: #ccebe3;
$color-green-4: #b5e2d5;
$color-green-5: #9ed9c9;
$color-green-6: #89d1bd;
$color-green-7: #74b2a1;
$color-green-8: #619486;
$color-green-9: #4e776c;
$color-green-10: #3e5e55;

$color-blue-1: #f4fafc;
$color-blue-2: #e5f3f7;
$color-blue-3: #d1e9f1;
$color-blue-4: #bbdeeb;
$color-blue-5: #a6d4e5;
$color-blue-6: #93cbdf;
$color-blue-7: #7dadbe;
$color-blue-8: #68909e;
$color-blue-9: #54747f;
$color-blue-10: #425b64;

$color-purple-1: #f7f6fd;
$color-purple-2: #ece9f9;
$color-purple-3: #ddd8f5;
$color-purple-4: #cdc6f1;
$color-purple-5: #beb5ec;
$color-purple-6: #b0a5e8;
$color-purple-7: #968cc5;
$color-purple-8: #7d75a5;
$color-purple-9: #645e84;
$color-purple-10: #4f4a68;

// Gray
$color-gray-0: #f9f9f9;
$color-gray-1: #f3f3f4;
$color-gray-2: #e1e1e5;
$color-gray-3: #cacad0;
$color-gray-4: #b1b1ba;
$color-gray-5: #9999a5;
$color-gray-6: #838391;
$color-gray-7: #6f6f7b;
$color-gray-8: #5d5d67;
$color-gray-9: #4b4b53;
$color-gray-10: #3b3b41;
