@import "../commons/Colors.module.scss";

.inputWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  width: 100%;

  .showUnitWrap {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;

    input {
      flex-grow: 1;
    }

    .inputUnit {
      color: $color-gray-8;
    }
  }
}

.DateCompleteInputWrap {
  height: 96px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  width: 314px;

  input {
    padding-right: 10px;
    background-color: $color-gray-1;
    border: none;

    &::placeholder {
      color: $color-gray-6;
    }
  }
}

.EditDateWrap {
  height: 96px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  width: 314px;

  input {
    padding-right: 16px;
    box-sizing: border-box;
    border: 2px solid #838391;
  }
}

.input_email_check {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  width: 331px;
}

label {
  width: 100%;
  position: relative;
  color: $color-gray-8;
  display: flex;
  font-size: 18px;
  font-weight: bold;

  // 필수입력 표시
  &::after {
    content: "";
    width: 8px;
    height: 8px;
    margin-left: 4px;
    background-color: $color-red-5;
    border-radius: 999px;
  }
}

// input, select 스타일링
select,
input {
  width: 100%;
  height: 64px;
  padding-left: 24px;
  background-color: $color-yellow-1;
  border: 2px solid $color-gray-6;
  border-radius: 16px;
}

select::placeholder,
input::placeholder {
  color: $color-gray-4;
}

select:focus,
input:focus,
select:focus-visible,
input:focus-visible {
  outline: none;
  box-shadow: 0px 0px 0px 5px rgba(176, 165, 232, 0.4);
  border: 2px solid $color-purple-7;
}

select:disabled,
textarea:disabled,
.input_disabled,
input[type="text"]:disabled,
input[type="email"]:disabled {
  color: $color-gray-4;
  background-color: $color-gray-1;
  border-color: $color-gray-1;
  opacity: 1;
}

.input_error {
  border: 2px solid $color-red-5;
}
