@import "./Colors.module.scss";

// 컨텐츠 + 모달 영역
.mainAreaWrap {
  position: relative;
  width: 100%;
  height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // 매인 컨텐츠 영역
  .container {
    flex-grow: 1;
    width: 100%;
    min-height: 0;
    position: relative;
    min-width: 390px;
    max-width: 1280px;
    padding-top: 64px;
    padding-bottom: 64px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contentsArea {
    flex-grow: 1;
    width: 100%;
    min-height: 0;
    padding: 56px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background-color: $color-white;
    border: 2px solid $color-gray-6;
    border-radius: 40px;
    overflow: hidden;

    .titleArea {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-self: start;

      .textWrap {
        display: flex;
        gap: 16px;
      }

      .pageGuide {
        align-self: end;
        color: $color-gray-5;
      }
    }

    .contentsWrap {
      width: 100%;
      min-height: 0;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .buttonArea {
      width: 100%;
      display: flex;
      justify-content: center;

      a {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
@media screen and (max-width: 390px) {
  .mainAreaWrap {
    background-color: $color-white;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .container {
      flex-grow: 0;
      width: 100%;
      height: calc(100vh - 140px);
      padding-top: 0px;
      padding-bottom: 0px;
      display: flex;
      flex-direction: column;
    }

    .contentsArea {
      flex-grow: 0;
      height: 90vh;
      width: 100%;
      padding: 6%;
      background-color: $color-white;
      border: none;
      border-radius: 0px;
      overflow: auto; /* 내부 내용이 넘칠 경우 스크롤 */

      .titleArea {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-self: start;
        word-break: break-word;

        .textWrap {
          display: flex;
          gap: 16px;
        }
      }

      .contentsWrap {
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .buttonArea {
        width: 100%;
        display: flex;
        justify-content: center;

        a {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  .textWrap {
    flex-direction: column;
    margin-bottom: 8px;
  }
  .titleArea {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1920px) {
  .mainAreaWrap {
    transform: scale(0.8);
    width: 125%;
  }
}
