@import "./Colors.module.scss";

.container {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .contentsArea {
    padding: 56px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    background-color: $color-white;
    border: 2px solid $color-gray-6;
    border-radius: 40px;
  
    .titleArea {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-self: start;

      .textWrap {
        display: flex;
        gap: 16px;
      }
      
      .pageGuide {
        align-self: end;
        color: $color-gray-5;
      }

    }
  }
}

