html {
  // 1rem을 10px로 바꾸기
  font-size: 62.5%;
}

.text3xsRg {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4rem;
}
.text3xsMd {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4rem;
}
.text3xsBd {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4rem;
}
.text2xsRg {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
}
.text2xsMd {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
}
.text2xsBd {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6rem;
}
.textXsRg {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
}
.textXsMd {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
}
.textXsBd {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
}
.textBsRg {
  font-size: 1.6rem; /* 16px */
  font-weight: 400;
  line-height: 2rem; /* 20px */
}
.textBsMd {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
}
.textBsBd {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
}
.textSmRg {
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 2.2rem; /* 22px */
}
.textSmMd {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.2rem;
}
.textSmBd {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.2rem;
}
.textMdRg {
  font-size: 2rem; /* 20px */
  font-weight: 400;
  line-height: 2.4rem; /* 24px */
}
.textMdMd {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.4rem;
}
.textMdBd {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
}
.textLgRg {
  font-size: 2.2rem; /* 22px */
  font-weight: 400;
  line-height: 2.8rem; /* 28px */
}
.textLgMd {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 2.8rem;
}
.textLgBd {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.8rem;
}
.textxLgRg {
  font-size: 2.4rem; /* 24px */
  font-weight: 400;
  line-height: 2.8rem; /* 28px */
}
.textXlMd {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 2.8rem;
}
.textXlBd {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.8rem;
}
.text2xlRg {
  font-size: 2.8rem; /* 28px */
  font-weight: 400;
  line-height: 3.4rem; /* 34px */
}
.text2xlMd {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 3.4rem;
}
.text2xlBd {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.4rem;
}
.text3xlRg {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 3.8rem;
}
.text3xlMd {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 3.8rem;
}
.text3xlBd {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.8rem;
}
.text4xlRg {
  font-size: 4rem;
  font-weight: 400;
  line-height: 4.6rem;
}
.text4xlMd {
  font-size: 4rem;
  font-weight: 500;
  line-height: 4.6rem;
}
.text4xlBd {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.6rem;
}
.capitalize {
  text-transform: capitalize;
}
@media screen and (max-width: 390px) {
  .text4xlBd {
    font-size: 3.2rem;
  }
}
