$visual-home: url('../../../../public/img/visuals/visual_home_ggomul_big.svg');

main.home section.HomeTopArea {
    @apply px-4 py-6 w-full
    flex flex-col gap-2 items-start;
    background:
        $visual-home no-repeat calc(100% - 0.5rem) calc(100% + 1rem),
        var(--gradient-w-y-2);
    background-size: 9.375rem auto;
    @apply xs:px-6;
    // @apply sm:mt-0 sm:pl-0 sm:pr-0 sm:pt-0 sm:pb-8;

    // 768px 이상일 때
    // @media (min-width: 768px) {
    //     background-size: 168px, 0;
    //     background-position:
    //         right calc(100% + 24px),
    //         center;
    // }

    & .greeting {
        @apply text-xl font-md;
        // @apply sm:text-2xl;

        strong {
            @apply font-bd;
        }
    }

    & .description {
        @apply w-[50vw] min-w-[14rem]
        text-gray-7 text-bs font-rg;
        // @apply sm:w-auto;
    }
}
