@import '../../abstracts/mixins.scss'; // mixin import

.vaccinationArea {
    @apply w-full flex-col gap-4;

    .bannerArea {
        @apply grid gap-4;
        @apply sm:grid-cols-2;
    }

    .banner {
        @apply flex flex-col gap-1;
        @apply px-6 py-4 h-[96px] rounded-3xl border-2 border-blue-3;

        &.banner_first {
            @include banner-style('first');
        }
        &.banner_second {
            @include banner-style('second');
        }

        button {
            @apply flex;

            p {
                @apply text-gray-6 text-xs font-md;
            }
            img {
                @apply w-5 h-5;
            }
        }
    }
}
