// 변수, 기본 스타일 import
@import './styles/Colors.module.scss'; /* color 변수를 관리하는 파일 */

// Tailwind import
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// 전역 root div 스타일
#root {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
}
