// 전체 reset
* {
    @apply box-border;

    &:focus-visible {
        outline: none;
    }
}

// body
body {
    @apply w-full min-w-[320px] h-[100dvh] flex flex-col;
    font-family: 'Pretendard';
    @apply text-gray-0 text-bs font-rg;
    @apply sm:bg-yellow-1;
}

// root div // 화면 전체 영역
#root {
    @apply w-full flex flex-col items-center grow relative;
}

// main // header footer 제외 영역
main {
    @apply w-full h-[calc(100%-5rem)] mb-[5rem]
    flex justify-center relative;
    @apply sm:h-auto sm:mb-0 sm:mt-10;
}

// 제목 태그
h2,
h3,
h4 {
    @apply font-bd;
}

h2 {
    @apply text-2xl;
}
h3 {
    @apply text-md;
}
h4 {
    @apply text-bs text-gray-8;
}

// a 태그
a {
    cursor: pointer;
}
